<p id="notice"><%= notice %></p>

<p>
  <strong>Gender:</strong>
  <%= @author.gender %>
</p>
<p>
  <strong>Age:</strong>
  <%= @author.age%>
</p>
<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>
<h2>
  「<%=@author.name%>」さんの著書
</h2>
<hr />
<ul>
  <%=@books.each do |book|%>
    <li><%=link_to(book.title, "/books/#{book.id}/edit")%></li>
  <%end%>
</ul>
<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
