<p id="notice"><%= notice %></p>
<section class="section">
<div class="container">
<div class="columns">
<div class="column is-3">
  <aside class="is-medium menu">
  <p class="menu-label">
    Details
  </p>
  <ul class="menu-list fa-1x">
    <li>
      <strong>Title:</strong>
      <%= @book.title %>
    </li>
    <li>
      <strong>Price</strong>
      <%= @book.price %>
    </li>
    <li>
      <strong>Published at:</strong>
      <%= @book.published_at %>
    </li>
    <li>
      <%= link_to("レビューを書く。","/books/#{@book.id}/reviews/new") %>
    </li>
    <li>
      <%= link_to 'Back', '/' %>
    </li>
  </ul>
  </aside>
</div>
<div class="content is-8">
  <aside class="content is-medium">
    <h2 class="title">「<%=@book.title%>」のレビュー</h2><hr/>
    <ul class="menu-list fa-1x">
      <%@reviews.each do |review|%>
      <div class="box">
        <h4 class="title is-3"><%=review.title%></h4>
        <div class="message-body"><%=review.body%>(<%=review.updated_at%>)</div>
      </div>
      <%end%>
    </ul>
  </aside>
  </div>
</div>
</div>
</section>
